.side-bar
  .side-bar__top
    .side-bar__top__box
      %p.side-bar__top__box__user-name
        aya
      %ul.side-bar__top__box__menu
        %li.side-bar__top__box__menu___new-group
          =link_to "#" do
            =icon('fas', 'edit')
        %li.side-bar__top__box__menu__edit-account
          =link_to "#" do
            =icon('fas', 'cog')
  .side-bar__bottom
    .side-bar__bottom__box
      %p.side-bar__bottom__box__group-name
        techcamp
      %p.side-bar__bottom__box__new-message
        まだメッセージはありません
